.partners {
    padding: 120px 0 60px;
    text-align: center;

    h3 {
        @extend .about__title;
    }

    .row {
        align-items: center;
        justify-content: space-around
    }

    &__logo {
        display: inline-block;
        width: 130px;
    }

    @include max-screen(991px) {
        padding: 80px 0 40px;

        .row {
            flex-direction: column;
            align-items: center;
            justify-content: normal;
        }

        &__logo {
            display: inline-block;
            width: 160px;

            margin: 30px 0;
        }
    }
}