.bulk-api {
	p.api-docs__desc {
		margin-top: 20px;
		margin-bottom: 15px;
	}

	ul {
		font-family: 'PT Sans', sans-serif;
		list-style-type: disc;
		margin-left: 40px;

		li {
			padding: 8px 0;
		}
	}
}